<p style="color: green"><%= notice %></p>

<h2>Chat rooms</h2>

<div id="rooms">
  <% @rooms.each do |room| %>
    <p>
      <%= link_to room.name, room %>
    </p>
  <% end %>
</div>

<br>
<%= link_to "Create new chat room", new_room_path %>
